.menu-list {
  max-height: 400px;
  overflow-y: hidden;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f5f5f5; /* Colore di sfondo */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Aggiungi ombra */
  border-radius: 5px; /* Bordo arrotondato */
}

.menu-list:hover {
  overflow-y: auto; /* Mostra la barra di scorrimento quando il mouse passa sopra */
}


/* Nascondi la scrollbar verticale standard */
.menu-list::-webkit-scrollbar {
  width: 8px;
  background-color: transparent; /* Colore di sfondo trasparente */
}

/* Stile della barra di scorrimento */
.menu-list::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Colore della barra di scorrimento */
  border-radius: 4px; /* Bordo arrotondato */
}

/* Cambia l'aspetto della barra di scorrimento quando si passa sopra */
.menu-list::-webkit-scrollbar-thumb:hover {
  background-color: #999; /* Colore della barra di scorrimento al passaggio del mouse */
}

/* Stile della traccia della scrollbar */
.menu-list::-webkit-scrollbar-track {
  background-color: transparent; /* Colore della traccia trasparente */
}

/* Cambia l'aspetto della traccia della scrollbar quando si passa sopra */
.menu-list::-webkit-scrollbar-track:hover {
  background-color: #f0f0f0; /* Colore della traccia al passaggio del mouse */
}

