<div class="list-group">
  <a
    style="cursor: pointer;"
    routerLinkActive="router-link-active"
    [routerLink]="[index]"
    class="list-group-item clearfix">
    <div class="row">
      <div class="col-md-8">
        <h4>{{ menu.nome }}</h4>
      </div>
    </div>
    <p>{{ menu.data_creazione | date:'dd/MM/yyyy' }}</p>
    <div class="list-group-item" *ngIf="pizzas">
      <ng-container *ngIf="pizzas.length <= 2; else pizzaList">
        <p *ngFor="let pizza of pizzas; let i = index">
          <b>{{ pizza.nome }}</b>: {{ menu.pizze[i].prezzo }}
        </p>
      </ng-container>
      <ng-template #pizzaList>
        <p>
          <b>{{ pizzas[0].nome }}, {{ pizzas[1].nome }} ...</b>
        </p>
      </ng-template>
    </div>
  </a>
</div>
